/*
* Todo App
* Simple and Clean
* Using HTML5 CSS3 and JQuery
* Developed By Rashid Ali
*/

body{

    font-family: Roboto;
    background: #2c2727; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00d2ff , #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */

}

#container{
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

h1{
    background: #848484;
    color: #fff;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

span.delete{
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
    cursor: pointer;
}

span.done{
    background: #4CAF50;
    height: 40px;
    text-align: center;
    float: right;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
    cursor: pointer;
}

span.undone{
    background: #e74c3c;
    height: 40px;
    text-align: center;
    float: right;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.3s linear;
    opacity: 0;
    cursor: pointer;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background: #f7f7f7;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    color: #2980b9;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing:border-box;
    border: 3px solid rgba(0,0,0,0);
}

input:focus{
    background-color: #fff;
    border: 2px solid #2980b9;
    outline: none;
}

.fa-plus{
    float: right;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

.button{

    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.button:hover{
    background: #4CAF50;
}

.update-button{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 76%;
    top: 5px;
    margin: 15px;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 179px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
}

.update-button:hover{
    background: #4CAF50;
}

.logout-button{
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 90%;
    top: 5px;
    margin: 15px;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 80px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 1px !important;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    text-decoration: none;
}
.logout-button:hover {
    background-color: red;
}

.done-div{
    display: inline;
}

#error{
    padding: 2px;
    color: darkred;
    margin-left: 21px;
}
